
/* header */
header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    z-index: 1000;
    position: relative;
    position: fixed;
}
header>.center{
    position: relative;
}
.center{
    width: 1200px;
    margin: 0 auto;
    /* background-color: rgba(255, 0, 0, 0.5); */
}
/* .h1 */
header .logo img{
    width: 80px;
    padding-top: 15px;
    margin-right: 160px;
    float: left;
}
/* .nav */
header>.center>#nav{
    float: left;
    text-align: center;
    position: relative;
}
header>.center>#nav>li{
    display: inline-block;
    width: 135px;
    margin-left: 5px;
    line-height: 60px;
    position: relative;
}
header>.center>#nav>li>a{
    display: block;
    font-size: 17px;
}
#nav>li:hover>a{
    color: #0073be;
}
/* .sub */
header>.center>#nav .sub{
    /* display: none; */
    width: 100%;
    position: absolute;
    top: 61px;
    /* background-color: white; */
    line-height: 3;
    height: 0;
    z-index: 100;
    opacity: 0;
    transition-duration: 0.5s;
    overflow: hidden;
}
#nav::after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background-color: white;
    position: absolute;
    top: 61px;
    left: 0;
    opacity: 0; 
    transition-duration: 0.5s;
}
header>.center>#nav:hover .sub{
    opacity: 1;
    height: 180px;
}
header>.center>#nav:hover::after{
    opacity: 1;
    height: 240px;
}
#nav .sub>li:hover>a{
    color: #0073be;
}
/* .gnb */
header>.center>.gnb{
    float:right;
    position: relative;
}
header>.center>.gnb>li{
    display: inline-block;
    background-repeat: no-repeat;
}
.gnb>li:first-child{
    background-image: url(../images/it-search.png);
    position: absolute;
    right: 90px;
    top: 21px;
}
.gnb>li:first-child:hover{
    background-image: url(../images/it-search-h.png);
}
.gnb>li:nth-child(2){
    background-image: url(../images/it-user.png);
    position: absolute;
    right: 45px;
    top: 21px;
}
.gnb>li:nth-child(2):hover{
    background-image: url(../images/it-user-h.png);
}
.gnb>li:nth-child(3){
    background-image: url(../images/it-lang.png);
    position: absolute;
    right: 0;
    top: 21px;
}
.gnb>li:nth-child(3):hover{
    background-image: url(../images/it-lang-h.png);
}
.gnb>li>a{
    display: block;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
}

/* #container */
#container{
    background-image: url(../images/login-01-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 970px;
    padding-top: 230px;
}
.loginWrap{
    width: 550px;
    height: 660px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;  
    position: relative;
    box-shadow: 0 0 20px #3d3d3d;
}
.loginWrap>h3{
    text-align: center;
    padding-top: 50px;
    font-size: 28px;
    font-weight: 400;
}
/* #loginForm */
#loginForm{
    margin-top: 70px ;
}
.login-form-field::placeholder{
    color: #ccc;
}
.login-form-field{
    width: 400px;
    border: none;
    border-bottom: 1px solid #3d3d3d;
    margin: 0 0 15px 75px;
    margin-bottom: 20px;
    outline: none;
    padding: 0 0 20px 12px;
    font-size: 16px;

}
#password-field{
    margin-bottom: 55px;
}
#login-form-submit{
    width: 400px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 300;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #0073be;
    cursor: pointer;
    margin-left: 75px;
}


/* 간편로그인 */
.easyTitle{
    text-align: center;
    margin:20px 0;
    font-weight: 400;
}
.easyLogin{
    position: absolute;
    /* top: 0; */
    /* bottom: ; */
    left: 50%;
    transform: translateX(-50%);
}
.easyLogin>li{
    float: left;
    margin: 0 7.5px;
}
.easyLogin>li>a{
    display: block;
}
.easyLogin>li>a>img{
    width: 40px;
}
/* .other */
.loginWrap>.other{
    position: absolute;
    left: calc(50% - 159.75px);
    /* transform: translateX(-50%); */
    bottom: 75px;
    /* position: relative; */
}
.loginWrap>.other>li{
    float: left;
    font-size: 14px;
    position: relative;
}
.loginWrap>.other>li::after{
    content: "";
    width: 1px;
    height: 13px;
    background-color: #3d3d3d;
    position: absolute;
    top: 4px;
    right: 0;
}
.loginWrap>.other>li:last-child::after{
    display: none;
}
.loginWrap>.other>li>a{
    padding: 0 20px;
}
.loginWrap>.other>li>a:hover{
    color: black;
}


/* footer */
footer{
    margin-top: -1px;
}
/* .footerTop */
.footTop{
    background-color: black;
}
.footTop .footMenu{
    float: left;
}
.footTop .footMenu>li{
    float: left;
    line-height: 60px;
    margin-right: 40px;
}
.footTop .footMenu>li>a{
    color: white;
    font-weight: lighter;
}
.footTop .footMenu>li:first-child>a{
    font-weight: normal;
}
.footTop .tel{
    float: right;
}
.footTop .tel>li{
    float: left;
    line-height: 60px;
    margin-left: 65px;
}
.footTop .tel>li>a{
    color: white;
    font-weight: normal;
}
.footTop .tel>li>a>span{
    color: #0073be;
    margin-left: 20px;
}
/* .footerBottom */
.footBottom{
    background-color: #333;
    height: 250px;
}
.footBottom p{
    float: left;
    line-height: 250px;
}
.footBottom p>img{
    width: 100px;
}
.footBottom .text{
    float: left;
    color: white;
    font-weight: lighter;
    line-height: 1.5;
    margin-top: 95px;
    margin-left: 25px;
}
.footBottom .text>address{
    font-size: 13px;
}
.footBottom .text>small{
    display: block;
    font-size: 13px;
}
.footBottom .text>small:last-child{
    margin-top:10px ;
    font-size: 11px;
}
.footBottom .fam{
    float: right;
    margin-top: 100px;
}
.footBottom .fam>li{
    float: left;
    margin-left: 25px;

}
.footBottom .fam>li>a{
    display: block;
}
.footBottom .fam>li>a>img{
    height: 48px;
}
/* i top으로 버튼 */
/* footer>a>i{
    position: fixed;
    top: 85%;
    right: 5%;
    font-size: 20px;
    color: black;
} */
footer>a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #0073be;
    color: white;
    text-transform: uppercase;
    position: fixed;
    top: 85%;
    right: 5%;
    transform: rotate(45deg);
    box-shadow: 0 0 5px #3d3d3d;
}
footer>a>span{
    display: block;
    transform: rotate(-45deg);
    padding: 11px 0 0 4px;
}